* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: #FFFFFF;
    --bg-url: #6B7D5C;
    --background-color: rgba(0, 0, 0, 0.6);
    --background-color2: rgba(0, 0, 0, 0.6);
    --border-color: rgba(0, 0, 0, 0.6);
    --input-color: #FFFFFF;
    --descontoInf-color: rgba(0, 0, 0, 0.6);
    --descontoInf-color2: rgba(0, 0, 0, 0.6);
    --button-color: rgba(0, 0, 0, 0.6);
    --border-color2: rgba(0, 0, 0, 0.6);
    --surface-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(./assets/moon.svg);
    --bg-hover-button: #5f6659;
}
.light {
    --text-color: #000000;
    --bg-url: #D0DEC4;
    --background-color: rgba(255, 255, 255, 0.774);
    --border-color: rgb(119, 119, 119);
    --border-color2: rgba(0, 0, 0, 1);
    --input-color: rgb(255, 255, 255);
    --descontoInf-color: rgb(255, 255, 255);
    --descontoInf-color2: rgba(209, 208, 208, 0.479);
    --button-color: #6B7D5C;
    --surface-color: rgba(0, 0, 0, 0.08);
    --surface-color-hover: rgba(0, 0, 0, 0.05);
    --switch-bg-url: url(./assets/Son.svg);
    --bg-hover-button: #aeca96;
    --background-color2: rgba(221, 221, 221, 0.774);
}
#switch {
    position: relative;
    width: 64px;
    height: 32px;
    margin: 10px auto 10px;
}

#switch button {
    width: 35px;
    height: 35px;
    background: #e4e2e2 var(--switch-bg-url) no-repeat center;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -12px;
    z-index: 1;
    transform: translateY(-80%);
    transition: all 0.2s;
}

.light #switch button {
    left: 36px;
}

#switch span {
    display: flex;
    width: 64px;
    height: 20px;
    background-color: #e4e2e2;
    border: 1px solid black;
    backdrop-filter: blur(4px);
    border-radius: 9999px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.title1{
    font-size: 10px;
}
body {
    background: var(--bg-url) center/cover;
    background-size: cover;
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0 auto;
    padding: 0 24px;
}
.container {
    height: 100%;
    text-align: center;
    padding-bottom: 24px;
}
.logo img {
    width: 180px;
    /*border: 1px solid var(--border-color);
    background-color: var(--background-color);*/
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 5px;
}
.base {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 15px;
}
label, p {
    font-size: 1.0em;
    margin: 10px 10px;
    font-weight: 900;
}
.calc {
    border: 1px solid var(--border-color);
    background-color: var(--background-color2);
    flex-direction: column;
    display: flex;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 15px;
}
input {
    font-size: 1.0em;
    margin-right: 8px;
    padding: 5px;
    width: 80px;
    background-color: var(--input-color);
    border: 1.5px solid var(--border-color2);
    border-radius: 5px;
}
select {
    font-size: 0.8em;
    padding: 5px;
    width: 130px;
    background-color: var(--input-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-left: 10px;
}
.product {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Quantidade {
    text-align: center;
    margin: 20px;
    font-weight: 900;
}
.descontoInf {
    border: 1px solid var(--descontoInf-color);
    background-color: var(--descontoInf-color2);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.descontoInf p {
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 5px;
}
.descontoInf ul {
    list-style-type: none;
    padding: 0;
}
.descontoInf ul li {
    font-size: 1.0em;
    margin: 5px 0;
}
#finalCost {
    font-size: 1.0em;
}
button {
    padding: 10px 20px;
    font-weight: 800;
    font-size: 1.4em;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--text-color);
}
button:hover {
    background-color: var(--bg-hover-button);
    color: var(--text-color);
}
button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
.order-summary {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}
.order-summary h2 {
    font-size: 1.0em;
    margin-bottom: 10px;
}
#summaryItems {
    text-align: left;
}
.summary-item {
    position: relative;
    margin-bottom: 10px;
}
.summary-item button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.disabled {
    text-decoration: line-through;
    color: gray;
}
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/dark.jpg);
    }
    .light {
        --bg-url: url(./assets/Light.jpg);
    }
}
.strikethrough {
    text-decoration: line-through;
    color: grey;
}